﻿@model Oficina

@{
    ViewData["Title"] = "Detalhe";
}

<div>
    <div>
        <a asp-action="Index"><span class="glyphicon glyphicon-arrow-left" aria-hidden="true"></span> Voltar para lista</a>
    </div>
    
    <h4>@Model.Nome</h4>
    <p class="lead">@Model.DescricaoCurta</p>
    
    <div class="jumbotron">
        <img src="@Model.Foto" class="img-thumbnail">
        <hr />
        <p>@Html.DisplayFor(model => model.Descricao)</p>
    </div>
    <div>
        <p>
            <span class="glyphicon glyphicon-pencil" aria-hidden="true"></span>
            Código da Associação: @Model.CodigoAssociacao
        </p>
        <p>
            <span class="glyphicon glyphicon-globe" aria-hidden="true"></span>
            Endereço: @Model.Endereco
        </p>
        <p>
            <span class="glyphicon glyphicon-envelope" aria-hidden="true"></span>
            Email: @Model.Email
        </p>
        @if (Model.Telefone1 != String.Empty || Model.Telefone2 != String.Empty)
        {
            <p>
                <span class="glyphicon glyphicon-earphone" aria-hidden="true"></span>
                Telefone:<br />
                @Model.Telefone1 <br />
                @Model.Telefone2
            </p>

        }

        <p></p>
    </div>
    <div>
        <div style="width: 100%">
            <iframe width="100%" height="300" src="https://maps.google.com/maps?width=100%&amp;height=300&amp;hl=pt-br&amp;coord=@Model.Latitude,@Model.Longitude&amp;q=@Model.Endereco+(@Model.Nome)&amp;ie=UTF8&amp;t=&amp;z=15&amp;iwloc=B&amp;output=embed" frameborder="0" scrolling="no" marginheight="0" marginwidth="0"></iframe>
        </div>
    </div>
</div>

