﻿@model List<Oficina>
@{
    ViewData["Title"] = "Oficinas";
}

<div class="row">

    @foreach (var item in Model)
    {
        <div class="col-sm-6 col-md-4">
            <div class="thumbnail" id="thumbnail-oficina">
                <img class="img-oficina-thumbnail" src="@item.Foto" alt="">
                <div class="caption">
                    <h4>@item.Nome</h4>
                    <p>@item.DescricaoCurta</p>
                    <p><a asp-area="" asp-controller="Oficina" asp-action="Detalhe/@item.Id" class="btn btn-primary" role="button">Detalhes</a></p>
                </div>
            </div>
        </div>
    }
</div>


