﻿body {
    padding-top: 64px;
    padding-bottom: 20px;
}

/* Wrapping element */
/* Set some basic padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
    margin-top: 20px;
}


/* Carousel */
.carousel-caption p {
    font-size: 20px;
    line-height: 1.4;
}


/* QR code generator */
#qrCode {
    margin: 15px;
}



#thumbnail-oficina {
    min-height: 300px;
    max-height: 300px;
}

    #thumbnail-oficina img {
        height: 100px;
        width: 70%;
    }

    #thumbnail-oficina p a.btn {
        position: absolute;
        top: 250px;
    }


#formIndicacao button {
    margin-bottom: 20px;
    margin-top: 20px;
}
