﻿@model Indicacao

@{
    ViewData["Title"] = "Indicação de Amigo";
}

@if (ViewData["Sucesso"] != null)
{
    <div class="alert alert-success alert-dismissible" role="alert">
        <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <strong>Parabéns!</strong> @ViewData["Sucesso"]
    </div>
}
@if (ViewData["Error"] != null)
{

    <div class="alert alert-danger alert-dismissible" role="alert">
        <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <strong>Erro ao enviar indicação!</strong> @ViewData["Error"]
    </div>
}

<div class="row">
    <form id="formIndicacao" asp-controller="Indicacao" asp-action="Index" method="post">
        <div class="col-xs-12">
            <h5>Dados da Associação</h5>
        </div>

        <div class="form-group">
            <label asp-for="CodigoAssociacao" class="col-md-2 col-sm-12">Codigo da Associação</label>
            <div class="col-md-10 col-sm-12 col-xs-12">
                <input asp-for="CodigoAssociacao" />
            </div>
        </div>

        <div class="col-xs-12">
            <h5>Dados do Amigo</h5>
        </div>

        <div class="form-group">
            <label asp-for="NomeAmigo" class="col-md-2 col-sm-12">Nome</label>
            <div class="col-md-10 col-sm-12 col-xs-12">
                <input asp-for="NomeAmigo" class="col-md-6 col-sm-12 col-xs-12" />
            </div>
        </div>
        <div class="form-group">
            <label asp-for="EmailAmigo" class="col-md-2 col-sm-12">Email</label>
            <div class="col-md-10 col-sm-12 col-xs-12">
                <input asp-for="EmailAmigo" class="col-md-6 col-sm-12 col-xs-12" />
            </div>
        </div>
        <div class="form-group">
            <label asp-for="TelefoneAmigo" class="col-md-2 col-sm-12">Telefone</label>
            <div class="col-md-10 col-sm-12 col-xs-12">
                <input asp-for="TelefoneAmigo" class="col-md-4 col-sm-6 col-xs-12" />
            </div>
        </div>

        <div class="col-xs-12">
            <h5>Dados do Associado</h5>
        </div>

        <div class="form-group">
            <label asp-for="NomeAssociado" class="col-md-2 col-sm-12">Nome</label>
            <div class="col-md-10 col-sm-12 col-xs-12">
                <input asp-for="NomeAssociado" class="col-md-6 col-sm-12 col-xs-12" />
            </div>
        </div>
        <div class="form-group">
            <label asp-for="EmailAssociado" class="col-md-2 col-sm-12">Email</label>
            <div class="col-md-10 col-sm-12 col-xs-12">
                <input asp-for="EmailAssociado" class="col-md-6 col-sm-12 col-xs-12" />
            </div>
        </div>
        <div class="form-group">
            <label asp-for="CpfAssociado" class="col-md-2 col-sm-12">CPF</label>
            <div class="col-md-10 col-sm-12 col-xs-12">
                <input asp-for="CpfAssociado" class="col-md-4 col-sm-6 col-xs-12" />
            </div>
        </div>
        <div class="form-group">
            <label asp-for="TelefoneAssociado" class="col-md-2 col-sm-12">Telefone</label>
            <div class="col-md-10 col-sm-12 col-xs-12">
                <input asp-for="TelefoneAssociado" class="col-md-4 col-sm-6 col-xs-12" />
            </div>
        </div>
        <div class="form-group">
            <label asp-for="PlacaVeiculoAssociado" class="col-md-2 col-sm-12">Placa do Veículo</label>
            <div class="col-md-10 col-sm-12 col-xs-12">
                <input asp-for="PlacaVeiculoAssociado" class="col-md-4 col-sm-6 col-xs-12" />
            </div>
        </div>

        <div class="form-group">
            <label asp-for="Observacao" class="col-md-2 col-sm-12"></label>
            <div class="col-md-10 col-sm-12 col-xs-12">
                <textarea asp-for="Observacao" class="col-sm-12 col-xs-12"></textarea>
            </div>
        </div>
        <div class="col-xs-12">
            <h5>Dados de Envio</h5>
        </div>
        <div class="form-group">
            <label asp-for="Remetente" class="col-md-2 col-sm-12">Remetente</label>
            <div class="col-md-10 col-sm-12 col-xs-12">
                <input asp-for="Remetente" class="col-md-6 col-sm-12 col-xs-12" />
            </div>
        </div>
        <div class="form-group">
            <label asp-for="Copias" class="col-md-2 col-sm-12">Copias</label>
            <div class="col-md-10 col-sm-12 col-xs-12">
                <input asp-for="Copias" class="col-md-6 col-sm-12 col-xs-12" />
            </div>
        </div>
        <div class="col-xs-12">
            <button type="submit" class="btn btn-primary" role="button">Enviar</button>
        </div>
    </form>
</div>
